.prompt-list {
	padding: 15px;
	/*border: 1px solid #000;*/
	margin: auto;
	width: 60%;
	/*box-shadow: 0px 0px 8px 5px #bbb;*/
	text-decoration: none;
}

.prompt-list:hover {
	text-decoration: underline;
}

.drawing-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex-direction: row;
}

.drawing-flex > a {
 	display: flex;
  	justify-content: center;
  	align-items: center;
	/*height: 250px;
	width: 15%;*/
	height: auto;
	width: 40%;
	margin: 5px;
	padding: 2px;
	/*box-shadow: 0px 0px 2px 1px #bbb;*/
	border: 2px solid #bbb;
	border-radius: 5px;
	text-decoration: none;
	/*opacity: 0.7;*/
}

.drawing-flex > a:hover {
	/*border: 2px solid #000;*/
	/*border-radius: 5px;*/
	text-decoration: none;
	/*opacity: 1;*/ /* was already commented, so keep commented */
}

.drawing-flex > img {
	width: 200px;
	height: 200px;
}

.drawing-flex figure {
	margin: auto;
}